
/* Layout */
#sideBar {width:300px;}
#content {width:650px;}

h1 {font-size:13px;font-weight:700;margin-bottom:18px;}

/* Collections */
h2.title {border-bottom:1px solid #333;display:block;font-size:12px;font-weight:700;margin-bottom:13px;padding-bottom:10px;}

/* Price */
#productPrice {margin-bottom:15px;}

/* Description */
#productDescription {margin-top:20px;}