
/* Layout */
.display {
  display: flex;
  flex-direction: row;
}

#sideBar {
  width:40%;
  margin-left: 10vw;
  margin-top: 5vw;
}

.thumbs {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.apresentacao {
  border: 2px solid #333;
  display: flex;
  justify-content: center;
}

#content {
  width:40%;
  margin-left: 5vw;
  margin-right: 10vw;
  margin-top: 5vw;
}

h1 {
  font-family: Roboto;
  font-size: 20px;
}

/* Price */
#productPrice {
  font-family: Roboto;
  font-size: 15px;
}

/* Description */
h2.title {
  font-family: Roboto;
  font-size: 15px;
  border-bottom:1px solid #333;
  display:block;
  font-weight:700;
  margin-bottom:13px;
  padding-bottom:10px;
}

#productDescription {
  font-family: Roboto;
  font-size: 15px;
  margin-top:20px;
}

p {
  font-family: Roboto;
  font-size: 20px;
}

.fa-heart {
  font-size: 20px;
}
